header {
    display: flex; 
    align-items: center;  
    background-color:   white;  
    padding-top: 0px;
    height: 65px;
    margin: 0px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}


#logo {
    width: 100px;
    height: auto; 
}

#header_title {
    font-family: sans-serif;
    margin-left: 10px; 
    color: #131112;
}

#kontakt {
    margin-left: auto; 
    text-align: right;
    padding-right: 10px;
    color: #131112;
}

body {
    margin: 0px;
    margin-bottom: none;
}

.nav {
    list-style-type: none;      
    display: flex;              
    padding: 0;                 
    margin: 5px;  
    justify-content: space-between;
    background-color: #92DCE5;
    margin: 0px;
    border-bottom: 2px solid white;
}

li {

    padding: 5px;              
    border-radius: 5px;        
    background-color: ##702963;
    color:white;
    font-family: sans-serif;
    font-style: bold;
}

#maintitle {
    background-color: #92DCE5;    
    display: block; 
    align-items: center;  
    width:500px;
}

.doctor {
    margin-top: 30px;
    margin-left: 70px;
    width:350px;
    height:400px;

}

.placeholder {
    margin-top: -75px;
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 55px;
    color: white;
    font-;
}

.container {
    display: flex; 
}

.section-left {
    background-color: #92DCE5;
}

.section-right {
    background-color: #92DCE5;
    margin-bottom: 0px;
    margin-top: 0px;
}

#moto {

    font-size: 60px;
}

button {
    background-color: white;  
    border: none;             
    border-radius: 20px;     
    padding: 10px 20px;   
    margin-left: 10px;   
    color: black;             
    font-size: 16px;         
    cursor: pointer;          
    transition: background-color 0.3s; 
}
button:hover {
    background-color: #f0f0f0; 
}

.sherbimet {
    padding-top: 100px;
    text-align: center;
    background-color: white;
    margin-top: -21px; 
    font-family: sans-serif;
    margin-bottom: 100px;
}

.llojet {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0px; 
    align-items: center; 
    margin-top: 10px;
}

.item {
    text-align: center; 
    margin-top: 10px;
}

.photo {
    width: 50px; 
    height: auto; 
}

footer {
    background-color: #92DCE5; 
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #007bff; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer div {
    margin: 10px;
    flex: 1 1 200px; 
    text-align: center;
}

footer h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    footer {
        font-size: 12px;
        flex-direction: column; 
        align-items: center;
    }
}

#login {

    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
    text-decoration: none;
    color: black;
}