body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.toolbar {
    width: 310px;
    height: 100vh;
    background-color: #333b3f;
    padding-bottom: 40px;
}

.main {
    flex-grow: 1;
    height: 100vh;
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.active {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    margin-left: -30px;
    margin-right: 20px;
    
    
}

.active:hover {
    padding: 10px;
    background-color: #119de4;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    margin-left: -30px;
    margin-right: 20px;
    transition: background-color 0.2s; 
    
    
}

.passive {
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 0;
    margin-left: -30px;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
}

.passive:hover {
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 0;
    margin-left: -30px;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    transition: background-color 0.2s; 
    background-color: #119de4;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    list-style-type: none;



}

.title {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    list-style-type: none;
}

button {
    background-color: #333b3f; 
    border: none;             
    border-radius: 20px;     
    padding: 10px 20px;   
    margin-left: -33px;   
    color: white;             
    font-size: 16px;         
    cursor: pointer;          
    transition: background-color 0.3s; 
    position: absolute; 
    bottom: 0;
}
button:hover {
    background-color: #f0f0f0; 
    color:black;
}


#dashboard {
    text-align: center;
    color: #333b3f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}

#logout {

    margin-left: 68px;


    
